<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simpleskill</title>
  </head>
  <body>
    <a href="{% url 'app:index' %}">Go to App</a>
    <br />
    <br />
    <br />
    {{data}} {% for ss in data%}
    <div class="skill">
      <p>id: {{ss.id}}</p>
      <p>title: {{ss.name}}</p>
    </div>
    {% endfor %}

    <br>
    <br>
    <br>
    <br>
    username: {{user.registered_simpleskills}}
    <br>
    name: {{user.first_name | title}} {{user.last_name | title}}


  </body>
</html>
