{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block head_title %}Page Title Here{% endblock head_title %}
    </title>
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <script src="https://kit.fontawesome.com/9496d93890.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% block header %}
    <header>
      <h1>HEADER</h1>
    </header>
    {% endblock header %} 
    
    {% block content %}
    <div class="content">
      <h2>CONTENT HERE</h2>
    </div>
    {% endblock content %} 
    
    {% block footer %}
    <footer>
      <h1>FOOTER HERE</h1>
    </footer>
    {% endblock footer %}
  </body>
</html>
