.button3 {
  min-width: 130px;
  height: 40px;
  color: var(--light);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: var(--dark-light);
  box-shadow: 0 5px var(--dark);
}
.button3:hover {
  box-shadow: 0 3px var(--dark);
  top: 1px;
}
.button3:active {
  box-shadow: 0 0 var(--dark);
  top: 5px;
}
