{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block header %}
{% include 'app/partials/header.html' with user=user pageName="Dashboard" %}
{% endblock header %}

{% block head %}
<link rel="stylesheet" href="{% static 'app/css/sscard.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons/button2.css' %}">
{% endblock head %}

{% block content %}
<div class="main_container">
        <div class="interests">
            <ul>
                <li>
                    <a href="{% url 'app:dashboard'  %}">All</a>
                </li>
                {% for interest in user.interests.all %}
                <li>
                    <a href="{% url 'app:dashboard' interest.id %}">{{interest}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% comment %} <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> {% endcomment %}

    <a href="{% url 'app:finished' %}">
        <h1>View Finished</h1>
    </a>


    <h1>{{"Ongoing Simpleskills" | upper}}</h1>
    <div class="sscard-container">
        {% for ss in ongoing_simpleskills %}
        {% include 'app/partials/osscard.html' with ss=ss %}
        {% endfor %}
    </div>

    <h1>{{"Available Simpleskills" | upper}}</h1>
    <div class="sscard-container">
        {% for ss in available_simpleskills %}
            {% include 'app/partials/nsscard.html' with ss=ss %}
        {% endfor %}
    </div>
</div>


{% endblock content %}
