{% extends 'app/base.html' %}
{% block title %}Finished Simpleskills{% endblock title %}

{% block header_title %}Finished Simpleskills{% endblock header_title %}

{% block header_first_name %}{{user.first_name}}{% endblock header_first_name %}

{% block header_menu_name %}
{{user.first_name}} {{user.last_name}}
{% endblock header_menu_name %}

{% block content %}
<div class="main_container">
    <div class="interests">
        <ul>
            <li>
                <a href="{% url 'app:finished'  %}">All</a>
            </li>
            {% for interest in user.interests.all %}
            <li>
                <a href="{% url 'app:finished' interest.id %}">{{interest}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% comment %} <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> {% endcomment %}

<h1>Finished Simpleskills</h1>
<div class="finished">
    {% for ss in finished_simpleskills %}
        <div class="ss-card">
            <div class="section1">
                <p style="font-size: 24px">SIMPLESKILL</p>
                <p class="title">{{ss}}</p>
                <p>
                    View prerequisites
                    <i class="fa-solid fa-angle-right"></i>
                </p>
                <div class="prerequisites hidden">
                    {% for pre in ss.prerequisites.all %}
                    {{pre}}
                    {% endfor %}
                </div>
            </div>
            <div class="section2">
                <p style="font-size: 24px">OVERVIEW</p>
                <p class="desc">{{ss.description}}</p>
                <p class="level">LEVEL: {{ss.level}}</p>
                <p class="timeclass">DURATION: {{ss.time_class}}</p>
                <a href="{% url 'app:unfinish' ss.id %}">MARK NOT FINISHED</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
