{% extends 'base.html' %}
{% load static %}
{% block title %}Finished Simpleskills{% endblock title %}

{% block header %}
{% include 'app/partials/header.html' with user=user pageName="Finished Simpleskills" %}
{% endblock header %}

{% block head %}
<link rel="stylesheet" href="{% static 'app/css/sscard.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons/button2.css' %}">
{% endblock head %}

{% block content %}
<div class="main_container">
    <div class="interests">
        <ul>
            <li>
                <a href="{% url 'app:finished'  %}">All</a>
            </li>
            {% for interest in user.interests.all %}
            <li>
                <a href="{% url 'app:finished' interest.id %}">{{interest}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% comment %} <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> {% endcomment %}

    <h1>Finished Simpleskills</h1>
    <div class="finished">
        {% for ss in finished_simpleskills %}
            {% include 'app/partials/fsscard.html' with ss=ss%}
        {% endfor %}
    </div>
</div>

{% endblock content %}

{% block footer %}
{% include 'app/partials/footer.html' %}
{% endblock footer %}
