header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 3em;
    border-bottom: 5px solid var(--accent);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
}

header .user-section {
    cursor: pointer;
    position: relative;
}

header .user-section .user-menu {
    position: absolute;
    cursor: pointer;
    background-color: var(--light);
    border: 3px solid var(--accent);
    border-radius: 5px;

    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: max-content;
    z-index: 100;
}

header .user-section .menu-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;    
}

header .user-section .user-menu .upper {
    text-transform: uppercase;
    border-bottom: 2px solid var(--accent);
}

header .user-section .user-menu .lower {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: -50px;
}

header .special-user-icon {
    background-color: var(--dark);
    color: var(--light);
    padding: 10px;
    border-radius: 50%;
    margin: 16px 0;
    width: 50px;
}

header .logout {
    background-color: var(--accent);
    color: var(--light);
    font-weight: 700;
    margin-top: 10px;
    width: 100%;
}

@media screen and (max-width: 860px) {
    header {
        flex-direction: column;
    }
}